<div class="row">
  <div class="col-12" id="mainheader">Fresh Start</div>
  <div class="col-12 mb-2 border-color">
    <label class="me-3 ms-2 fs-5 f5-weight" for="text">Interpolation:</label>
    <input type="text" id="text" value="Literal Value" />
  </div>
  <div class="col-12 mb-2 border-color">
    <label class="me-3 ms-2 fs-5 f5-weight" for="fullname"
      >One Way Data Binding:</label
    >
    <input type="text" id="fullname" [value]="fullname" />
  </div>
  <div class="col-12 mb-2 border-color">
    <label class="me-3 ms-2 fs-5 f5-weight" for="fullname">
      Two Way Data Binding:</label
    >
    <input type="text" id="fullname" class="me-2" [(ngModel)]="firstname" />
    <input type="text" id="fullname" class="me-4" [(ngModel)]="lastname" />

    <span class="fs-5 f5-weight"
      >Final Output: {{ firstname }} {{ lastname }}</span
    >
  </div>
  <div class="col-12 mb-2 border-color">
    <label class="me-3 ms-2 fs-5 f5-weight" for="inputType"
      >Changing input type dynamically:</label
    >
    <input type="text" id="inputType" class="me-4" [(ngModel)]="inputType" />

    <input [type]="inputType" />
  </div>
</div>
